<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mobilesolutionworks.android.controller.test">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>

    <application android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.mobilesolutionworks.android.controller.test.sdk.RetainChildFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mobilesolutionworks.android.controller.test.nested.RetainWorksControllerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mobilesolutionworks.android.controller.test.basic.SchedulerTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mobilesolutionworks.android.controller.test.complex.WorksActivityImpl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mobilesolutionworks.android.controller.test.basic.TestWorksActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mobilesolutionworks.android.controller.test.host.HostWorksControllerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.mobilesolutionworks.android.controller.test.basic.ConfigurationChangesTestWorksActivity"
                android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
